.page--contents {
  display: flex;
  flex-direction: column;
  .tools {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(60);
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    .tools {
      display: none;
    }
  }

  .contents {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 rem($gap-m) rem($gap-m) rem($gap-m);
    -webkit-overflow-scrolling: touch;

    p {
      text-indent: 2em;
    }
  }
}
